.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}
.dot-green {
    background-color: green;
}
.dot-gray {
    background-color: gray;
}