.status-dot-green {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.status-dot-gray {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}
